# String Functions

Q.Try Different functions of the String in Python

In [1]:
string  = "elon Musk is the founder of SpaceX"

In [2]:
string.capitalize()  #Converts the first character to upper case

'Elon musk is the founder of spacex'

In [3]:
string.casefold() #Converts string into lower case

'elon musk is the founder of spacex'

In [4]:
string.center(50) #Returns a centered string

'        elon Musk is the founder of SpaceX        '

In [5]:
string.center(50,'Z')  #string.center(length,"character")

'ZZZZZZZZelon Musk is the founder of SpaceXZZZZZZZZ'

In [6]:
string.count("elon")  #Returns the number of times a specified value occurs in a string

1

In [7]:
string.encode() #Returns an encoded version of the string

b'elon Musk is the founder of SpaceX'

In [8]:
string.endswith('X') #Returns true if the string ends with the specified value otherwise returns false

True

In [9]:
string1 = 'H\tE\tL\tL\tO'

In [10]:
string1.expandtabs(8) #Sets the tab size of the stringto the specified number of whitespaces

'H       E       L       L       O'

In [11]:
string.find('X') #Searches the string for a specified value and returns the position of where it was found

33

In [12]:
string2 = "My name is {name} and i am {age} years old"

In [13]:
string2.format(name="Tonystark",age="24") #Formats specified values in a string. {} is a placeholder

'My name is Tonystark and i am 24 years old'

In [14]:
my_dict = {'name' : 'Robert Downey Jr.' , 'age': '30'}

In [15]:
string2.format_map(my_dict)  #returns a formatted version of string using substitutions from the mapping provided

'My name is Robert Downey Jr. and i am 30 years old'

In [16]:
string.index('u') #Searches the string for a specified value and returns the position of where it was found

6

In [17]:
string.isalnum() #Returns True if all characters in the string are alphanumeric- Alphabetical+numeric Eg. Company2021

False

In [18]:
string3 = 'Corona'

In [19]:
string3.isalpha() #Returns True if all characters in the string are in the alphabet

True

In [20]:
string.isascii() #returns true if the string is empty or all characters in the string are in ascii(american standard code for information interchange)

True

In [21]:
string.isdecimal() #Returns True if all characters in the string are decimals

False

In [22]:
string.isdigit() #Returns True if all characters in the string are digits

False

In [23]:
string3.isidentifier() #Returns True if the string is an identifier--> contains (a-z) or (0-9) or (_) underscore.

True

In [24]:
string.islower() #Returns True if all characters in the string are lower case

False

In [25]:
string.isnumeric() #Returns True if all characters in the string are numeric

False

In [26]:
string.isprintable() #Returns True if all characters in the string are printable

True

In [27]:
string.isspace() #Returns True if all characters in the string are whitespaces

False

In [28]:
string.istitle() #Returns True if the string follows the rules of a title

False

In [29]:
string.isupper() #Returns True if all characters in the string are upper case

False

In [30]:
string3.join("string3") #Joins the elements of an iterable to the end of the string

'sCoronatCoronarCoronaiCoronanCoronagCorona3'

In [31]:
string3.ljust(15) #	Returns a left justified version of the string

'Corona         '

In [32]:
string.lower() #Converts a string into lower case

'elon musk is the founder of spacex'

In [33]:
string.lstrip("elon") #Returns a left trim version of the string

' Musk is the founder of SpaceX'

In [34]:
mytable= string.maketrans("u","i")   #Returns a translation table to be used in translations 
print(string.translate(mytable))     #Returns a translated string

elon Misk is the foinder of SpaceX

In [35]:
string.partition('is')   #Returns a tuple where the string is parted into three parts

('elon Musk ', 'is', ' the founder of SpaceX')

In [36]:
string3.replace('o','k') #Returns a string where a specified value is replaced with a specified value

'Ckrkna'

In [37]:
string.rfind('u') #Searches the string for a specified value and returns the last position of where it was found

19

In [38]:
string.rindex('a') #Searches the string for a specified value and returns the last position of where it was found

30

In [39]:
string3.rjust(15) #Returns a right justified version of the string

'         Corona'

In [40]:
string.rpartition('f') #Returns a tuple where the string is parted into three parts

('elon Musk is the founder o', 'f', ' SpaceX')

In [41]:
string3.rsplit('r') #Splits the string at the specified separator, and returns a list

['Co', 'ona']

In [42]:
string.rstrip('ceX') #Returns a right trim version of the string

'elon Musk is the founder of Spa'

In [43]:
string.split() #Splits the string at the specified separator, and returns a list

['elon', 'Musk', 'is', 'the', 'founder', 'of', 'SpaceX']

In [44]:
string4 = "hello world\ni am Thor: The God of thunder "

In [45]:
string4.splitlines() #Splits the string at line breaks and returns a list

['hello world', 'i am Thor: The God of thunder ']

In [46]:
string4.startswith('h') #Returns true if the string starts with the specified value

True

In [47]:
string5 = "   Python    "

In [48]:
string5.strip() #Returns a trimmed version of the string

'Python'

In [49]:
string5.swapcase() #Swaps cases, lower case becomes upper case and vice versa

'   pYTHON    '

In [50]:
string.title() #Converts the first character of each word to upper case

'Elon Musk Is The Founder Of Spacex'

In [51]:
string.upper() #Converts a string into upper case

'ELON MUSK IS THE FOUNDER OF SPACEX'

In [52]:
string3.zfill(10) #	Fills the string with a specified number of 0 values at the beginning

'0000Corona'

# List Functions

Q.Try Different functions of the List object in Python

In [53]:
lst = ["Batman","Ironman","Superman","Hulk",['piano','guitar','voilin','Harmonium'],'Water','fire']

In [54]:
lst[5]

'Water'

In [55]:
lst[4][3]

'Harmonium'

In [56]:
lst.append('Air') #adds an element at the of the list

In [57]:
lst

['Batman',
 'Ironman',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'Water',
 'fire',
 'Air']

In [58]:
lst.copy() #returns the of the list

['Batman',
 'Ironman',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'Water',
 'fire',
 'Air']

In [59]:
lst.count('Hulk') #returns the number of elements with the speicified value

1

In [60]:
planets = ['mars','earth','venus','mercury']

In [61]:
lst.extend(planets) # Add the elements of a list(or any iterable), to the end of the current list

In [62]:
lst

['Batman',
 'Ironman',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'Water',
 'fire',
 'Air',
 'mars',
 'earth',
 'venus',
 'mercury']

In [63]:
lst.index('mars') #Returns the index of the first element with the specified value

8

In [64]:
lst.insert(2,'Thor') #Adds an element at the specified position

In [65]:
lst

['Batman',
 'Ironman',
 'Thor',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'Water',
 'fire',
 'Air',
 'mars',
 'earth',
 'venus',
 'mercury']

In [66]:
lst.pop(6) #removes the element at the specified position

'Water'

In [67]:
lst

['Batman',
 'Ironman',
 'Thor',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'fire',
 'Air',
 'mars',
 'earth',
 'venus',
 'mercury']

In [68]:
lst.remove('Air') #removes the first item with the specified value

In [69]:
lst

['Batman',
 'Ironman',
 'Thor',
 'Superman',
 'Hulk',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'fire',
 'mars',
 'earth',
 'venus',
 'mercury']

In [70]:
lst.reverse() #reverses the order of the list

In [71]:
lst

['mercury',
 'venus',
 'earth',
 'mars',
 'fire',
 ['piano', 'guitar', 'voilin', 'Harmonium'],
 'Hulk',
 'Superman',
 'Thor',
 'Ironman',
 'Batman']

In [72]:
planets.sort() #sorts the list

In [73]:
planets

['earth', 'mars', 'mercury', 'venus']

In [74]:
planets.clear() #Removes all the elements from the list

In [75]:
planets

[]

# Dictionary Functions

Q.Experimenting with default functions of Dictionary

In [76]:
dict={"height":"6.1 feet","weight":"73kgs","language":"Hindi","age":"26 years","name":"Harry"}

In [77]:
dict['weight']

'73kgs'

In [78]:
dict.copy() #Returns a copy of the dictionary

{'height': '6.1 feet',
 'weight': '73kgs',
 'language': 'Hindi',
 'age': '26 years',
 'name': 'Harry'}

In [79]:
dict.fromkeys('age',30) #Returns a dictionary with the specified keys and value

{'a': 30, 'g': 30, 'e': 30}

In [80]:
dict.get('name') #Returns the value of the specified key

'Harry'

In [81]:
dict.items() #Returns a list containing a tuple for each key value pair

dict_items([('height', '6.1 feet'), ('weight', '73kgs'), ('language', 'Hindi'), ('age', '26 years'), ('name', 'Harry')])

In [82]:
dict.keys() #Returns a list containing the dictionary's keys

dict_keys(['height', 'weight', 'language', 'age', 'name'])

In [83]:
dict.pop('age') #Removes the element with the specified key

'26 years'

In [84]:
dict

{'height': '6.1 feet', 'weight': '73kgs', 'language': 'Hindi', 'name': 'Harry'}

In [85]:
dict.popitem() #Removes the last inserted key-value pair

('name', 'Harry')

In [86]:
dict

{'height': '6.1 feet', 'weight': '73kgs', 'language': 'Hindi'}

In [87]:
dict.setdefault('height') #Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

'6.1 feet'

In [88]:
dict.update({'place':'India'}) #Updates the dictionary with the specified key-value pairs

In [89]:
dict

{'height': '6.1 feet',
 'weight': '73kgs',
 'language': 'Hindi',
 'place': 'India'}

In [90]:
dict.values() #Returns a list of all the values in the dictionary

dict_values(['6.1 feet', '73kgs', 'Hindi', 'India'])

In [91]:
dict.clear() #Removes all the elements from the dictionary

In [92]:
dict

{}